---
layout: page
last_updated: 2026-06-01
lang: en
lang_fr: /fr
---

{% include intro.html %}

<section>
    {% include heading-with-icon.html text="My current projects" icon="🧑‍🔬" %}

    <div class="cards-container">

        {% include project-card.html
            project_id="a10edb47-8a09-4f84-9f5d-214ac597b2ad"
            title="Hardware emulator"
            subtitle="Making simple programmable hardware and writing an emulator for it"
            text="#electronics #programming #6502"
            url="/en/projects/emulation"
            image_url="/assets/projects/emulation/001/IMG_7377.JPG"

        %}
        
        {% include project-card.html
            project_id="ec2e67a6-246f-484e-abc7-6387aa07874a"
            title="Optic simulator"
            subtitle="Graphical simulation software to understand light and optical systems"
            text="#programming #swiftui"
            url="/en/projects/optics-simulator"
            image_url="/assets/projects/optics-simulator/card-illus.png"
            image_class="image_top_0"
        %}

        {% include project-card.html
            project_id="5cfedf56-5aa3-4518-918a-54e86b3fb24d"
            title="LEGO Storage System"
            subtitle="Custom built furniture to store and organize my collection of parts"
            text="#woodworking #lasercutting #3dprinting"
            url="/en/projects/lego-storage-system"
            image_url="/assets/projects/lego-storage-system/illus1.jpg"
        %}

        {% comment %}

        {% include project-card.html
            title="Media remote"
            subtitle="DIY remote for watching movies on my computer"
            text="ESP32 Bluetooth HID controller with 3D printed case and custom PCB #electronics #arduino #3dprinting #kicad"
            url="/en/projects/lego-storage-system"
            image_url="/assets/projects/lego-storage-system/4.jpg"
        %}

        {% endcomment %}

    </div>

</section>

{% assign posts = site.posts
    | where: "lang", page.lang
    | where: "project_id", empty
    | limit: 2 %}
{% if posts != empty %}
    <section>
        {% comment %} {% include heading-with-icon.html text="Recent posts" icon="📝" %} {% endcomment %}
        {% include heading-with-icon.html text="Latest post" icon="📝" %}

        <div class="cards-container post-cards-container">

            {% include recent-posts.html
                posts=posts
            %}
            
        </div>

    </section>

{% endif %}

{% comment %}

<section>
    {% include heading-with-icon.html text="Other activities" icon="🧩" %}

    <div class="cards-container">

        Watching handmade Hero
        Building along Ben Eater 8bit computer

    </div>

</section>

{% endcomment %}

<section>
    {% include heading-with-icon.html text="Find me there" icon="🎯" %}

    <div class="cards-container links-cards-container">

        {% include link-card.html
            text="I host my coding projects on <span class='link-card-title external-link-icon no-wrap'>Github</span>"
            url="https://github.com/alexbinary"
            image_url_light="/assets/home/github_light.png"
            image_url_dark="/assets/home/github_dark.png"
        %}

        {% include link-card.html
            text="I post street photography on <span class='link-card-title external-link-icon no-wrap'>Flickr</span>"
            url="https://www.flickr.com/photos/189385048@N05/"
            image_url="https://live.staticflickr.com/65535/50148054053_c78e0b402f.jpg"
        %}
        
        {% include link-card.html
            text="I post my best photographs on <span class='link-card-title external-link-icon no-wrap'>Instagram</span>"
            url="https://www.instagram.com/al.exandre1859"
            image_url="/assets/home/insta.jpg"
        %}

        {% include link-card.html
            text="I also post LEGO photography on <span class='link-card-title external-link-icon no-wrap'>Flickr</span>"
            url="https://www.flickr.com/photos/163799831@N07/"
            image_url="https://live.staticflickr.com/7867/buddyicons/163799831@N07_r.jpg?1555350484#163799831@N07"
        %}

        {% include link-card.html
            text="I post custom LEGO creations (MOCs) on <span class='link-card-title external-link-icon no-wrap'>Rebrickable</span>"
            url="https://rebrickable.com/users/alexbinary/"
            image_url="https://cdn.rebrickable.com/media/thumbs/mocs/moc-82694/242475.jpg/1000x800.jpg?1752647141.64937"
        %}

        {% include link-card.html
            text="I edit Stargate episodes on <span class='link-card-title external-link-icon no-wrap'>YouTube</span>"
            url="https://www.youtube.com/playlist?list=PL2ml2VtSiJHGieeRn3JBA-ejggvwbAtdZ"
            image_url="https://i.ytimg.com/vi/cNh_yNhvXGM/hqdefault.jpg?sqp=-oaymwEXCNACELwBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLBQztCBxezmk4QQ7z8v0suh9SOFnQ"
        %}

    </div>
</section>

{% comment %}

- Media remote
- [BrickLink App](/projects/bricklink-app)
- Compta App

{% endcomment %}

{% comment %}

<section>
    {% include heading-with-icon.html text="Things that inspire me" icon="🌱" %}

    <div class="cards-container">

        {% include inspiration-card.html
        title="Sebastian Lague's <i>Coding Adventure</i> series"
            picto="📺"
            subtitle="Videos about coding physics simulation"
            url="https://www.youtube.com/watch?v=Qz0KTGYJtUk&list=PLFt_AvWsXl0ehjAfLFsp1PGaatzAwo0uK&index=11"
            image_url="https://yt3.googleusercontent.com/ytc/AIdro_knyJw3jL_6AGomJmGe3VvfIYxWzZC9Y8z90Liru4G0UHM=s160-c-k-c0x00ffffff-no-rj"
            text="Humble exploration with great narrative and visuals 🎯"
        %}

        {% include inspiration-card.html
            title="Take on Me: Cover by Ashley Johnson"
            picto="🎶"
            subtitle="Music from The Last of Us Part II"
            url="https://www.youtube.com/watch?v=axsIHXxQox4"
            image_url="https://i.ytimg.com/vi/axsIHXxQox4/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAG1Qtwd6vo0TzZAKxpwB6BJ21p1w"
            text="Deceptively simple guitar cover carrying so much emotion 🫠"
        %}

        {% comment %}

        Ben eater: The SID: Classic 8-bit sound
        https://www.youtube.com/watch?v=LSMQ3U1Thzw

        Deep Blue vs Gaskaroff
        https://www.youtube.com/watch?v=Yo5vRHJ5y0Y

        Emergence, infinity, the universe
        https://www.youtube.com/watch?v=0HqUYpGQIfs

        {% endcomment %}

    </div>
</section>

{% endcomment %}
{% comment %}

<section>
    {% include heading-with-icon.html text="Ideas in my head" icon="💭" %}

    <div class="cards-container">

        {% include reflexion-card.html
            title="We cannot change people. The best thing we can do is focus on ourselves and express how we feel with honesty. People change when they are ready."
        %}

    </div>
</section>

{% endcomment %}


{% comment %}

{: style="margin-top: 3rem" }
{% include heading-with-icon.html text="Current topics of interests" icon="👀" %}

- Coding
- Movies & TV shows
- Music
- Space exploration & New Space


{: style="margin-top: 3rem" }
{% include heading-with-icon.html text="Latest movies or shows I liked" icon="🎞️" %}

<div class="cards-container">

    {% include card.html
        title="Weapons"
        url="https://www.imdb.com/fr/title/tt26581740/"
        subtitle="2025 · Zach Cregger"
        text="The sudden disappearance of seventeen third-graders, unraveling dark secrets in a small town."
        image_url="https://m.media-amazon.com/images/M/MV5BMGJkYzFkNWUtYTBmNC00ZDNiLTlmYTgtN2EwMDY2NDQxN2E3XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg"
    %}

    {% include card.html
        title="Alien Earth"
        url="https://www.imdb.com/fr/title/tt13623632/"
        subtitle="2025 · Disney+"
        text="A mysterious spaceship crashes, a young woman and soldiers face Earth’s greatest threat."
        image_url="https://m.media-amazon.com/images/M/MV5BOGIyNGRiNzgtOWQxZC00YzJmLThlZTYtYTMyMDk0YWZjMTk5XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg"
    %}

</div>


{: style="margin-top: 3rem" }
{% include heading-with-icon.html text="Latest books I liked" icon="📚" %}

<div class="cards-container">

    {% include card.html
        title="Robotic Exploration of the Solar System: Part 1: The Golden Age 1957-1982"
        url="https://www.amazon.fr/Robotic-Exploration-Solar-System-1957-1982/dp/0387493263/"
        subtitle=""
        text="A detailed chronicle of the pioneering era of robotic space exploration."
        image_url="https://m.media-amazon.com/images/I/612FXRjH+BL._SY385_.jpg"
    %}

    {% include card.html
        title="Nous rêvions juste de liberté"
        url="https://www.babelio.com/livres/Loevenbruck-Nous-revions-juste-de-liberte/695248"
        subtitle="Henri Lœvenbruck"
        text="A powerful tale of youth, rebellion, and the longing for freedom."
        image_url="https://www.babelio.com/couv/CVT_Nous-revions-juste-de-liberte_7184.jpg"
    %}

    {% include card.html
        title="Pour ne rien regretter"
        url="https://www.babelio.com/livres/Loevenbruck-Pour-ne-rien-regretter/1701851"
        subtitle="Henri Lœvenbruck"
        text="An emotional journey about choices, regrets, and the paths not taken in life."
        image_url="https://m.media-amazon.com/images/I/41F7LLUEpAL._SX195_.jpg"
    %}

    {% include card.html
        title="Central Park"
        url="https://www.babelio.com/livres/Musso-Central-Park/572676"
        subtitle="Guillaume Musso"
        text="A gripping psychological thriller beginning with a mysterious awakening in Central Park."
        image_url="https://www.babelio.com/couv/CVT_CVT_Central-Park_5496.jpg"
    %}

    {% include card.html
        title="L'instant présent"
        url="https://www.babelio.com/livres/Musso-Linstant-present/689939"
        subtitle="Guillaume Musso"
        text="A suspenseful and romantic tale exploring time, memory, and second chances."
        image_url="https://www.babelio.com/couv/CVT_Linstant-present_1566.jpg"
    %}

    {% include card.html
        title="Bios"
        url="https://www.babelio.com/livres/Wilson-Bios/51027"
        subtitle="Robert Charles Wilson"
        text="A sci-fi thriller set on a deadly alien world where human survival is pushed to its limits."
        image_url="https://www.babelio.com/couv/CVT_cvt_Bios_8931.jpg"
    %}

    {% include card.html
        title="Darwinia"
        url="https://www.babelio.com/livres/Wilson-Darwinia/25807"
        subtitle="Robert Charles Wilson"
        text="A mind-bending alternate history where Europe is replaced by a mysterious, alien continent."
        image_url="https://www.babelio.com/couv/CVT_cvt_Darwinia_8342.jpg"
    %}

    {% include card.html
        title="À travers temps"
        url="https://www.babelio.com/livres/Wilson--travers-temps/174247"
        subtitle="Robert Charles Wilson"
        text="An epic story of time travel, memory, and the fragile threads of human connection."
        image_url="https://www.babelio.com/couv/CVT_11478_658119.jpg"
    %}

</div>


{: style="margin-top: 3rem" }
{% include heading-with-icon.html text="YouTube channels I like" icon="📺" %}

<div class="cards-container yt-cards-container">

    {% include card.html
        title="Tantacrul"
        url="https://www.youtube.com/@Tantacrul"
        image_url="https://yt3.googleusercontent.com/ytc/AIdro_kfBfBABvGzPoazpxLm35feN55rYWbc9dxVyvCUCzstZwU=s160-c-k-c0x00ffffff-no-rj"
        text="video essays & hardware analysis"
    %}

    {% include card.html
        title="DIY Perks"
        url="https://www.youtube.com/@DIYPerks"
        image_url="https://yt3.googleusercontent.com/ytc/AIdro_m8aksXNScLOKv-RBjATnijOQ9SyYcq5X0k14hSWvpENx4=s160-c-k-c0x00ffffff-no-rj"
        text="clever hardware builds & tutorials"
    %}

    {% include card.html
        title="Ben Eater"
        url="https://www.youtube.com/@BenEater"
        image_url="https://yt3.googleusercontent.com/ytc/AIdro_kzQ9Fabth3QHyk1YLRHA62goVPgxJdd68G0CPIs0tU3A=s160-c-k-c0x00ffffff-no-rj"
        text="computer architecture & electronics"
    %}

    {% include card.html
        title="Sebastian Lague"
        url="https://www.youtube.com/@SebastianLague"
        image_url="https://yt3.googleusercontent.com/ytc/AIdro_knyJw3jL_6AGomJmGe3VvfIYxWzZC9Y8z90Liru4G0UHM=s160-c-k-c0x00ffffff-no-rj"
        text="algorithms, simulations & game dev"
    %}

</div>

{% endcomment %}