<p class="ai-disclaimer">
  {% if page.lang == 'fr' %}
    J'utilise des outils à base d'IA générative pour rédiger et/ou traduire le contenu de ce site.
    J'utilise l'IA comme un outil de productivité et d'inspiration, je m'assure toujours que les textes finaux reflètent fidèlement ma voix.
    {% elsif page.lang == 'en' %}
    I use generative AI to write and/or translate the content featured on this website. AI serves only as a tool for productivity and inspiration, I make sure that the final texts always reflect my personal voice and style.
  {% endif %}
</p>