<a href="{{ include.url }}" class="inspiration-card no-external-link-icon">
    <div class="external-link"></div>
    <div class="img-container">
        <img src="{{ include.image_url }}" alt="Card Image" />
    </div>
    <div class="inspiration-card-content">
        <div class="inspiration-card-title-and-picto">
            <div class="inspiration-card-title">{{ include.title }}</div>
            <div class="inspiration-card-picto">{{ include.picto }}</div>
        </div>
        <div class="inspiration-card-subtitle">{{ include.subtitle }}</div>
        <div class="inspiration-card-text">{{ include.text }}</div>
    </div>
</a>