<a href="{{ include.url }}" class="link-card no-external-link-icon">
    {% if include.image_url %}
        <img src="{{ include.image_url }}" alt="Link image"/>
    {% endif %}
    {% if include.image_url_light %}
        <img src="{{ include.image_url_light }}" alt="Link image" class="color-scheme-light"/>
    {% endif %}
    {% if include.image_url_dark %}
        <img src="{{ include.image_url_dark }}" alt="Link image" class="color-scheme-dark"/>
    {% endif %}
    <span class="link-card-content">{{ include.text }}</span>
</a>