
{% assign posts = site.posts
  | where: "lang", page.lang
  | where: "project_id", page.project_id
%}
{% if posts.size > 0 %}  
  <div class="project-post-navigation">
    <div class="project-post-navigation-item">
      {% if page.lang == 'en' %}
        {% assign url_suffix = "posts" %}
      {% else %}
        {% assign url_suffix = "billets" %}
      {% endif %}
      <a href="{{ page.url | append: url_suffix }}">
        {{ posts | size }}
        {% if page.lang == 'en' %}
          {% if posts.size == 1 %}
            post
          {% else %}
            posts
          {% endif %}
          in this project
        {% else %}
          {% if posts.size == 1 %}
            billet
          {% else %}
            billets
          {% endif %}
          dans ce projet
        {% endif %}
        →
      </a>
    </div>
  </div>
{% endif %}