<div class="project-card">

    <a href="{{ include.url }}" class="project-card-main">
        <img src="{{ include.image_url }}" alt="Card Image" class="{{ include.image_class }}"/>
        <div class="project-card-content">
            <div class="project-card-title-and-subtitle">
                <div class="project-card-title">{{ include.title }}</div>
                <div class="project-card-subtitle">{{ include.subtitle }}</div>
                <div class="project-card-text">{{ include.text }}</div>
            </div>
            {% include disclosure.html %}
        </div>
    </a>

    {% assign posts = site.posts
        | where: "lang", page.lang
        | where: "project_id", include.project_id
        %}
    {% if posts != empty %}
        <div class="project-card-posts">
            <p class="project-card-posts-meta">
                {% if page.lang == 'en' %}
                    Recent posts in this project
                {% else %}
                    Publications récentes dans ce projet
                {% endif %}
            </p>
            {% for post in posts limit: 3%}
                <a href="{{ post.url }}">
                    <div class="project-card-posts-content">
                        <h3>{{ post.title }}</h3>
                        {% include disclosure.html %}
                    </div>
                </a>
            {% endfor %}
        </div>
    {% endif %}

</div>