{% for post in posts %}
    <article class="post-card">
        <a href="{{ post.url }}">
            <img src="{{ post.image_thumbnail | default: post.image }}">
            <div class="post-card-content">
                <p class="post-card-meta">
                    {{ post.date | date_custom: page.lang }}

                    {%- assign project = site.data.projects | where: "id", post.project_id | first -%}
                    {% if project %}
                        {% if page.lang == 'en' %}
                            in
                        {% else %}
                            dans
                        {% endif %}
                        
                        <span class="project-name">
                        {{ project.name[page.lang] }}
                        </span>
                    {% endif %}
                    
                </p>
                <h3 class="post-card-title">{{ post.title }}</h3>

                <p class="read-more">
                    <span>
                    {% if page.lang == 'en' %}
                        Read
                    {% else %}
                        Lire
                    {% endif %}
                    </span>
                    {% include disclosure.html %}
                    
                </p>
            </div>
        </a>
    </article>
    
{% endfor %}