/* ---- Redirection */


.redirection-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.redirection-block {
    display: block;
}

.redirection-block>* {
    margin-top: 3rem;
}

.redirection-picto {
    font-size: 4rem;
}



/* ---- Header */


header .wrapper {
    display: flex;
    justify-content: space-between;
}

header .wrapper .lang-and-menu {
    display: flex;
    gap: 2rem;
    line-height: 54px;
}

header .wrapper::after {
    display: none;
}



/* ---- Lang select */


.lang-select .lang {
    padding: 5px;
}


.lang-select .lang.active,
.lang-select .lang:hover {
    background: lightgray;
    border-radius: 15px;
    text-decoration: none;
}



/* ---- Lang available banner */


.lang-available-banner p {
    margin: 0;
}

.lang-available-banner {
    display: flex;
    padding: 1rem;
    justify-content: center;

    background: rgb(243, 243, 243);
    border-radius: 0.5rem;
}

.lang-available-banner-content {
    display: flex;
    gap: 1rem;

}



/* ---- General */


table {
    border: none;
    color: black;
}

table td {
    border: none;
}

.intro {
    display: flex;
    gap: 2rem;
}

.intro-item-1 {
    flex: 2;
}

.intro-item-2 {
    flex: 1;
}

.social-media-list a {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 768px) {

    .intro {
        flex-direction: column-reverse;
    }

    .intro-item-2 {
        text-align: center;
    }
}

section {
    margin-top: 5rem;
}

section:last-of-type {
    margin-bottom: 5rem;
}

.ghost {
    opacity: 0;
}

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}






/* ---- Footer */


.site-footer {
    border-top: 3px solid black;
}

@media (max-width: 768px) {

    footer .wrapper {
        flex-direction: column;
    }

    .site-footer {
        border-bottom: 3px solid black;
    }
}


/* ---- aerospace-icons */


.aerospace-icons {
    font-size: 3em;
    text-align: center;
}



/* ---- External link icon */


.external-link .external-icon {
    margin-left: 0.5em;
}

.external-link .external-icon path {
    fill: gray;
    stroke: gray;
}



/* ---- Heading with icon */


.heading-with-icon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}



/* ---- Activity cards */


.activity-card {
    margin-top: 1rem;
    background: #fafafa;
    border: 1px solid #eee;
    padding: 0.7rem;
    padding-bottom: 1rem;
    border-radius: 8px;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.activity-card:hover {
    text-decoration: none;
}

.activity-card .external-link {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.activity-card-pointer {
    font-size: 2rem;
}

.activity-card img {
    width: 20%;
}

.activity-card-img-and-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-right: 2rem;
}

@media (max-width: 768px) {

    .activity-card-pointer {
        display: none;
    }

    .activity-card-img-and-content {
        flex-direction: column;
        padding-right: 0;
    }

    .activity-card img {
        width: 60%;
        margin-bottom: 1rem;
    }
}

.activity-card-content {
    color: black;
}

.activity-card:hover .activity-card-content {
    text-decoration: underline;
}

.activity-card-title-and-subtitle {
    display: flex;
}

.activity-card-subtitle {
    font-style: italic;
    color: #666;
}

.activity-card-text {
    font-weight: bold;
}



/* ---- Project cards */


.project-card {
    margin-top: 1rem;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.project-card img {
    position: absolute;
    transform: scale(1);
    transition: transform 10s;
}

.project-card:hover img {
    transform: scale(10);
    transition: transform 100s;
}

.project-card-content {
    color: black;
    z-index: 1;
    background: linear-gradient(to right, transparent, #fafafaf0 35%);
    padding: 0.7rem;
    padding-bottom: 1rem;
    padding-left: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 768px) {

    .project-card img {
        height: 100%;
        object-fit: cover;
    }

    .project-card-content {
        background: linear-gradient(to bottom, transparent, #fafafaf0 45%);
        padding: 0.7rem;
        padding-top: 50%;
    }

    .project-card-content svg {
        width: 2rem;
    }
}

.project-card-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.project-card-text {
    margin-top: 1rem;
    color: #666;
    font-size: 0.9rem;
}



/* ---- Inspiration cards */


.inspiration-card {
    margin-top: 1rem;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 0.7rem;
    align-items: center;
    /* border: 1px solid #c8c8c8; */
}

.inspiration-card .external-link {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
}

.inspiration-card .background-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    filter: blur(0.8rem);
    opacity: 0.4;
}

.inspiration-card .img-container {
    width: 15%;
    padding: 8px;
    aspect-ratio: 1;
}

.inspiration-card img {
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
    object-position: right;
}

.inspiration-card-content {
    color: black;
    padding: 1rem 0.2rem;
    padding-right: 2rem
}

.inspiration-card-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.inspiration-card-title-and-picto {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.inspiration-card-picto {
    border-radius: 100px;
    background: lightgray;
    padding: 0.4rem 1rem;
}

.inspiration-card-subtitle {
    color: #666;
    font-size: 0.9rem;
    margin-top: -0.4rem;
}

@media (max-width: 768px) {

    .inspiration-card {
        align-items: start;
        padding: 0.6rem;
    }

    .inspiration-card .img-container {
        padding: 0;
        text-align: center;
        width: 5rem;
    }

    .inspiration-card-content {
        padding: 0;
        margin-top: -0.2rem;
        padding-left: 0.4rem;
        padding-bottom: 0.7rem;
        padding-right: 1.6rem;

    }

    .inspiration-card-subtitle {
        margin-top: 0;
    }
}

.inspiration-card-text {
    margin-top: 0.5rem;
}



/* ---- Link cards */


.link-card {
    display: flex;
    margin-bottom: 14px;
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
}

.link-card img {
    max-width: 40px;
    height: auto;
    object-fit: cover;
}

.link-card-content {
    padding: 10px;
    padding-left: 15px;
    flex: 1 1 auto;
    overflow: hidden;
}

@media (max-width: 768px) {

    .link-card-content {
        padding-left: 10px;
    }
}

.link-card-title-and-text {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.link-card-title {
    font-weight: bold;
    color: #1756a9;
}

.link-card-text {
    font-size: 1em;
    color: black;
    flex: 1;
}

.link-card-text .text {
    flex: 1;
}

.link-card-url {
    font-style: italic;
    color: #666;
}

@media (max-width: 768px) {

    .link-card-url {
        font-size: 0.8em;
    }
}



/* ---- Project header */


article.project header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
}

article.project h1,
article.project .content-type {
    text-transform: uppercase;
}

article.project h1 {
    font-family: 'Verdana';
}

article.project header img {
    position: absolute;
    z-index: 0;
}

article.project .header-content {
    background: #fafafaf0;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    margin-top: 15rem;
    z-index: 1;
}

article.project .project-status {
    float: right;
}

article.project .project-topics {
    color: #666;
}

article.project .content-type {
    border-radius: 8px;
    padding: 0.3rem 0.6rem;
    background: #c4d7ef;
    color: rgb(0, 0, 0);
}

@media (max-width: 768px) {

    article.project header {
        display: block;
    }

    article.project header img {
        position: initial;
        border-radius: 8px;
    }

    article.project .header-content {
        margin-top: 1rem;
        background: none;
        padding: 0;
    }

    article.project header h1 {
        margin-top: 1rem;
        text-align: center;
    }

    article.project .project-topics {
        text-align: center;
    }
}

article.project .separator {
    border-bottom: 1px solid lightgray;
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

article.project {
    text-align: justify;
}

article.project h3 {
    margin-top: 2rem;
}

ul.plus,
ul.minus {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

ul.plus li,
ul.minus li {
    position: relative;
    padding-left: 2em;
    margin-bottom: 0.8rem;
}

ul.plus li::before,
ul.minus li::before {
    content: "👉 ";
    position: absolute;
    left: 0;
    top: 0;
}



/* ---- Inline images */


.inline-image-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.inline-image-container-row {
    display: flex;
    gap: 1rem;
}

.inline-image-item {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    flex: 1;
    position: relative;
}

.inline-image-item img {
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
}

@media (max-width: 768px) {

    .inline-image-container-row.mobile-column {
        flex-direction: column;
    }

    .inline-image-container-row {
        margin-bottom: 1rem;
    }

    .inline-image-item img {
        width: 100% !important;
    }
}

.inline-image-item p {
    margin: 0;
}

.inline-image-item .image-legend {
    margin-top: 0.3rem;
}

.inline-image-item>*:not(.image-legend) .external-icon {
    display: none;
}

@media (min-width: 768px) {

    .inline-image-container-row#casier img {
        height: 450px;
    }
}


/* ---- Last updated */


.last-updated::before {

    content: "";
    display: block;
    width: 10%;
    border-top: 1px solid lightgray;
    margin-bottom: 1rem;
}