/* ---- General */


table {
    border: none;
    color: black;
}

table td {
    border: none;
}

.intro {
    display: flex;
    gap: 2rem;
}

.intro-item-1 {
    flex: 2;
}

.intro-item-2 {
    flex: 1;
}

.social-media-list a {
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (max-width: 768px) {

    .intro {
        flex-direction: column-reverse;
    }

    .intro-item-2 {
        text-align: center;
    }
}



/* ---- Footer */


.site-footer {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

@media (max-width: 768px) {

    footer .wrapper {
        flex-direction: column;
    }
}


/* ---- aerospace-icons */


.aerospace-icons {
    font-size: 3em;
    text-align: center;
}



/* ---- External link icon */


.external-link .external-icon {
    margin-left: 0.5em;
}

.external-link .external-icon path {
    fill: gray;
    stroke: gray;
}



/* ---- Heading with icon */


.heading-with-icon {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}



/* ---- Links */


.link {
    display: flex;
    margin-bottom: 14px;
    background: #eee;
    border-radius: 8px;
    overflow: hidden;
    transition:
        background-color 0.3s ease,
        transform 0.2s ease;
}

.link:hover {
    text-decoration: none;
    background: #e7e7e7;
    transform: scale(1.01);
}

.link img {
    max-width: 40px;
    height: auto;
    object-fit: cover;
}

.link-content {
    padding: 10px;
    padding-left: 15px;
    flex: 1 1 auto;
    overflow: hidden;
}

@media (max-width: 768px) {

    .link-content {
        padding-left: 10px;
    }
}

.link-title-and-text {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.link-title {
    font-weight: bold;
    color: #1756a9;
}

.link-text {
    font-size: 1em;
    color: black;
    flex: 1;
}

.link-text .text {
    flex: 1;
}

.link-url {
    font-style: italic;
    color: #666;
}

@media (max-width: 768px) {

    .link-url {
        font-size: 0.8em;
    }
}