<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        {% if page.lang == 'fr' %}
          {% assign avail_lang = 'en' %}
        {% elsif page.lang == 'en' %}
          {% assign avail_lang = 'fr' %}
        {% endif %}

        {% assign current = site.langs[page.lang] %}
        {% assign avail = site.langs[avail_lang] %}
        {% assign key = 'lang_' | append: avail_lang %}

        {% if page.layout == 'post_project' %}
          {% if avail_lang == 'fr' %}
            {% assign available_info = "Ce billet est disponible <a href='%URL%'>en français %FLAG%</a>" %}
          {% else %}
            {% assign available_info = "This post is available <a href='%URL%'>in English %FLAG%</a>" %}
          {% endif %}
        {% else %}
          {% if avail_lang == 'fr' %}
            {% assign available_info = "Cette page est disponible <a href='%URL%'>en français %FLAG%</a>" %}
          {% else %}
            {% assign available_info = "This page is available <a href='%URL%'>in English %FLAG%</a>" %}
          {% endif %}
        {% endif %}

        {% assign message = available_info
          | replace: '%URL%', page[key]
          | replace: '%FLAG%', avail.flag %}

        <div class="lang-available-banner">
          <div class="lang-available-banner-content">
            <p>{{ message }}</p>
          </div>  
        </div>

        {{ content }}

        <p class="ai-disclaimer">
          {% if page.lang == 'fr' %}
            J'utilise des outils à base d'IA générative pour rédiger et/ou traduire le contenu de ce site.
            J'utilise l'IA comme un outil de productivité et d'inspiration, je m'assure toujours que les textes finaux reflètent fidèlement ma voix.
            {% elsif page.lang == 'en' %}
            I use generative AI to write and/or translate the content featured on this website. AI serves only as a tool for productivity and inspiration, I make sure that the final texts always reflect my personal voice and style.
          {% endif %}
        </p>
      </div>
    </main>

    {%- include footer.html -%}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

  </body>

</html>
