---
layout: default
---
<article class="post">

  <h2 style="margin-bottom: 0"><u>Interest</u>:
  </h2>
  <h1>{{ page.title | escape }}</h1>

  {% if page.tags %}
    <div class="post-tags" style="margin-top: -1rem; margin-bottom: 2rem">
      {% for tag in page.tags %}
        <a href="/tags/{{ tag }}"><i>#{{ tag | escape}}</i></a>
      {% endfor %}
    </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  Last updated {{ page.last_updated | date: date_format }}

</article>
