---
layout: default
---
<article class="post">

  <h2 style="margin-bottom: 0"><u>Occupation</u>:

  {% if page.topics %}
    <div class="post-topics" style="margin-top: -1rem; margin-bottom: 2rem">
      {% for topic in page.topics %}
        <a href="/{{ topic | escape }}"><i>#{{ topic | escape}}</i></a>
      {% endfor %}
    </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  Last updated {{ page.last_updated | date: date_format }}

</article>
