---
layout: default
---

{% assign project = site.data.projects | where: "id", page.project_id | first %}

<article class="post project project-post">

  <header>
    <div class="image-container">
      <img src="{{ page.image }}">
    </div>

    <div class="header-content">
      <div>
        <span class="content-type">
          {% if page.lang == 'en' %}
            Project log
          {% else %}
            Billet projet
          {% endif %}
        </span>
      </div>
      
      <div class="title">
        <h1><a href="{{ project.url[page.lang] }}">{{ project.name[page.lang] }}</a></h1>
        
      </div>

      <div class="project-post-title">
        <p>
          {% if page.lang == 'en' %}
            Entry
          {% else %}
            Billet 
          {% endif %}
          #{{ page.entry }}
          <span class="project-post-date">
             - {{ page.date | date_custom: page.lang }}
          </span>
        </p>
        <h2>{{ page.title }}</h2>
      </div>

      {% if page.topics %}
        <div class="project-topics">
          {% for topic in page.topics %}
            #{{ topic | escape}}
          {% endfor %}
        </div>
      {% endif %}
        
      {% if page.githubs %}
        <div class="project-github">

          {% assign github_links = page.githubs %}
          {% assign links_count = github_links | size %}

          {% if page.lang == 'en' %}
            {% if links_count == 1 %}
              <a href="{{ github_links[0] }}">
                The code used in this post is available on GitHub
              </a>
            {% else %}
              The code used in this post is available on GitHub
              {% for url in github_links %}
                {% if forloop.first %}{% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}
                <a href="{{ url }}">here</a>
              {% endfor %}
            {% endif %}
          {% else %}
            {% if links_count == 1 %}
              <a href="{{ github_links[0] }}">
                Le code utilisé dans cet article est disponible sur GitHub
              </a>
            {% else %}
              Le code utilisé dans cet article est disponible sur GitHub
              {% for url in github_links %}
                {% if forloop.first %}{% else %}{% if forloop.last %} et {% else %}, {% endif %}{% endif %}
                <a href="{{ url }}">ici</a>
              {% endfor %}
            {% endif %}
          {% endif %}
        </div>
      {% endif %}

    </div>

  </header>

  {% include project_post_nav.html %}

  <div class="post-content">
    {{ content }}
  </div>

  {% include project_post_nav.html %}

  <div class="separator separator-small"></div>

  {% include ai_disclaimer.html %}

</article>
