---
layout: default
---

{%- assign project = site.data.projects | where: "id", page.project_id | first -%}
        
<article class="post project">

  <header>
    <div class="image-container">
      <img src="{{ page.image }}">
    </div>

    <div class="header-content">
      <div>
        <span class="content-type">
          {% if page.lang == 'en' %}
            Project overview
          {% else %}
            Présentation projet
          {% endif %}
        </span>
      </div>
      
      <div class="title">
        <h1>{{ project.name[page.lang] }}</h1>
      </div>

      <div class="teaser">
        <p>{{ project.teaser[page.lang] }}</p>
      </div>
    
      {% if page.topics %}
        <div class="project-topics">
          {% for topic in page.topics %}
            #{{ topic | escape}}
          {% endfor %}
        </div>
      {% endif %}

    </div>

  </header>

  <div class="separator"></div>

  {% include last_updated.html %}

  <div class="post-content">
    {{ content }}
  </div>

  <div class="separator separator-small"></div>

</article>
