---
layout: default
---

{% assign project = site.data.projects | where: "id", page.project_id | first %}
        
<article class="post project">

  <header>
    <div class="image-container">
      <img src="{{ page.image }}">
    </div>

    <div class="header-content">
      <div>
        <span class="content-type">
          {% if page.lang == 'en' %}
            Project
          {% else %}
            Projet
          {% endif %}
        </span>
      </div>
      
      <div class="title">
        <h1>{{ project.name[page.lang] }}</h1>
      </div>

    </div>

  </header>

  <div class="post-content">
    
    {% assign posts = site.posts
        | where: "lang", page.lang
        | where: "project_id", page.project_id
        | sort: "date"
    %}

    {% if page.lang == 'en' %}
        {% assign title = "posts in this project" %}
    {% else %}
        {% assign title = "billets dans ce projet" %}
    {% endif %}
    {% assign title = posts.size | append: " " | append: title %}

    {% include heading-with-icon.html text=title icon="" %}

    <div class="posts-list">
        {% for post in posts limit: num offset: offset %}

            <article class="post-card">
                <a href="{{ post.url }}">
                    <img src="{{ post.image_thumbnail | default: post.image }}">
                    <div class="post-card-content">
                        <p class="posts-list-meta">
                            #{{ post.entry }}
                            <span class="posts-list-date">
                                -
                                {{ post.date | date_custom: page.lang }}
                            </span>
                        </p>
                        <h3 class="post-card-title">{{ post.title }}</h3>

                        <p class="read-more">
                            <span>
                            {% if page.lang == 'en' %}
                                Read
                            {% else %}
                                Lire
                            {% endif %}
                            </span>
                            {% include disclosure.html %}
                            
                        </p>
                    </div>
                </a>
            </article>
        {% endfor %}
    </div>
  </div>

</article>
