---
layout: default
---

{% assign project = site.data.projects | where: "id", page.project_id | first %}
        
<article class="post project">

  <header>
    <div class="image-container">
      <img src="{{ page.image }}">
    </div>

    <div class="header-content">
      <div>
        <span class="content-type">
          {% if page.lang == 'en' %}
            Project
          {% else %}
            Projet
          {% endif %}
        </span>
      </div>
      
      <div class="title">
        <h1>{{ project.name[page.lang] }}</h1>
      </div>

    </div>

  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
