---
layout: default
---
<article class="post project">

  <header>
    <div class="image-container">
      <img src="{{ page.image }}">
    </div>

    <div class="header-content">
      <div>
        <span class="content-type">
          {% if page.lang == 'en' %}
            Project
          {% else %}
            Projet
          {% endif %}
        </span>
        <div class="project-status">
          {% if page.project_status %}
            <strong>
              {% if page.lang == 'en' %}
                Status:
              {% else %}
                Statut:
              {% endif %}
            </strong> <span>{{ page.project_status | escape }}</span>
          {% endif %}
        </div>
      </div>
      
      <div class="title">
        <h1>{{ page.title | escape }}</h1>

        {% if page.project_parent_title and page.project_parent_url %}
          <p class="parent-project">
            {% if page.lang == 'en' %}
              Part of
            {% else %}
              Projet parent: 
            {% endif %}
            <a href="{{ page.project_parent_url | escape }}">{{ page.project_parent_title | escape }}</a>
          </p>
        {% endif %}
      </div>
    
       {% if page.topics %}
        <div class="project-topics">
          {% for topic in page.topics %}
            #{{ topic | escape}}
          {% endfor %}
        </div>
      {% endif %}
    </div>

  </header>

  <div class="separator"></div>

  <div class="post-content">
    {{ content }}
  </div>

  {% include last_updated.html %}

</article>
