---
layout: default
---
<article class="post">

  <h1><u>{{ page.category | escape }}</u>:<br>{{ page.title | escape }}</h1>

  {% if page.tags %}
    <div class="post-tags" style="margin-top: -1rem; margin-bottom: 2rem">
      {% for tag in page.tags %}
        <i><span class="tag">#{{ tag | escape }}</span></i>
      {% endfor %}
    </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
  Last updated {{ page.last_updated | date: date_format }}

</article>
