---
layout: default
---
<article class="post">

  <h1>Topic: {{ page.topic | escape | ucfirst }}</h1>

  <h2>Pages</h2>

  <ul>
    {% assign current_topic = page.topic %}
    {% for page in site.pages %}
      {% if page.topics contains current_topic %}
        <li>
          <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2>Posts</h2>

  <ul>
    {% assign current_topic = page.topic %}
    {% for post in site.posts %}
      {% if post.topics contains current_topic %}
        <li>
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</article>
